<%- include("./partials/header") %>

<div class="container d-flex justify-content-center align-items-center mt-5">
	<div class="row">
		<div class="col-md-6 offset-md-3 col-xl-4 offset-xl-4">
			<div class="card shadow">
				<img src="https://images.unsplash.com/photo-1486082570281-d942af5c39b7?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1051&q=80" alt="" class="card-img-top"/>
				<div class="card-body">
					<h5 class="card-tilte">
						Sign-Up
					</h5>
					
						<form action="/register" method="POST" novalidate class="validated-form">
							<label for="name">Username</label>
							<div class="form-group">
								<input class="form-control" id="name" type="text" autofocus name="username" placeholder="username" required>
								<div class="valid-feedback">
									Looks good!
								 </div>
							</div>
						
							<label for="password">Password</label>
							<div class="form-group">
								<input class="form-control" id="password" type="password" name="password" placeholder="password" minlength="4"
       maxlength="8" size="8" required>
								<div class="invalid-feedback">
									Please provide a password of minimum length 4 and maximum length 10
								 </div>
								<div class="valid-feedback">
									Looks good!
								 </div>

							</div>
							<div class="form-group">
								<button class="btn btn-md btn-success btn-block">
									Sign-Up
								</button>
							</div>

						</form>
					
				</div>
			</div>
		</div>
	
	</div>
</div>



<script src="/Javascripts/validation.js"></script>

<%- include("./partials/footer") %>